* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	/*background-color: #edecdf;*/
}

body {
}

.btn1 {
	background-color: red;
}

#nav {
	background-color: #355d39;
	font-family: 'Abril Fatface';
}

#basic-navbar-nav {
	background-color: #355d39;
	font-family: 'Quicksand';
}

#nav a {
	color: #f7f2f2;
}

h3, h4 {
	padding:  20px;
	font-family: 'Quicksand';
	text-align: center;
}

Form {
	margin:  auto;
	width:  50%;
	max-width: 500px;
	text-align: center;
}

#jumbo {
	background-color: #edecdf;
	/*height:  100vh;*/
}

#learn {
	height: 100vh;
	padding-top: 300px;
}

#greeting {
	padding-top: 50px;
}

#fixed {
	position: sticky;
	width: 100%;
}

#main {
  	align-items: center;
  	margin-top: 15vh;
}

#jumbo h1, h2 {
	font-family: 'Abril Fatface';
	padding: 20px;
}

#jumbo p {
	font-family: 'Quicksand';
	text-align: center;
	font-size:  18px;
}

p {
	font-family: 'Quicksand';
}

#root {
	background-color: #edecdf;
}

.divLogin {
	height:  100vh;
	margin: auto;
}

.btn-primary {
	background-color: green;
	/*border: red solid 1px !important;*/
}

Table {
	margin:  auto;
	max-width: 600px;
	/*border: red solid 1px !important;*/
	text-align: center;
}

thead {
	background-color: #95b391;
}

td {
	background-color: #f7f2f2;
}

#balance {
	text-align: center;
	margin: auto;
	margin-top: 30px;
	padding: 20px;
	border-style: solid;
	max-width: 350px;
	background-color: #95b391;
}

.fullPage {
	height:  100vh;
}

h5 {
	font-family: "Tahoma";
}

#learn a {
	color: #393737;
}


/*SHAPE DIVIDER*/
.custom-shape-divider-bottom-1624503669 {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1624503669 svg {
    position: relative;
    display: block;
    width: calc(117% + 1.3px);
    height: 151px;
}

.custom-shape-divider-bottom-1624503669 .shape-fill {
    fill: #355D39;
}